html {
  background-color: springgreen;
}

header {
  background-color: aqua;
  border: 1px aqua solid;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: Georgia, serif;
}





img {
  border: 1px springgreen solid;
  border-radius: 15px;
}

.img1 {
  width: 50%;
  margin: 2px;
}

.img2 {
  width: 33%;
  margin: 2px;
}

.img3 {
  width: 34%;
  margin: 2px;
}

.img4 {
  width: 45%;
  margin: 2px;
}

.img5 {
  width: 54%;
  margin: 2px;
}

.img6 {
  width: 51%;
  margin: 2px;
}

.img7 {
  width: 41%;
  margin: 2px;
}

.img8 {
  width:29%;
  margin:2px;
}

.img9 {
  width: 24%;
  margin: 2px;
}

#downmargin1 {
  margin-bottom: 30px;
}

#downmargin2 {
  margin-bottom: 30px;
}

#etobag1 {
  width: 53%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}

.minecraft {
  background-color: tomato;
  width: 200px;
  border: 1px tomato solid;
  border-radius: 10px;
}

.prostokvashino {
  background-color: yellow;
  width: 190px;
  border: 1px yellow solid;
  border-radius: 10px;
}

.minjon {
  background-color: dodgerblue;
  width: 130px;
  border: 1px dodgerblue solid;
  border-radius: 10px;
}

.bogatiri {
  background-color: rgb(201, 76, 45);
  width: 170px;
  border: 1px rgb(201, 76, 45) solid;
  border-radius: 10px;
}

.masha {
  background-color: darkviolet;
  width: 200px;
  border: 1px darkviolet solid;
  border-radius: 10px;
}

.saity {
  background-color: rgb(151, 125, 125);
  width: 215px;
  border: 1px rgb(151, 125, 125) solid;
  border-radius: 10px;
}

.rossia {
  background-color:#FFD700;
  width: 110px;  
  border: 1px #FFD700 solid ;
  border-radius: 10px;
  padding:1px;
}

.zaklo {
  background-color: #87CEEB;
  width: 150px;
  border: 1px #87CEEB solid;
  border-radius: 10px;
  padding:1px;
}

footer a {
  text-decoration: none;
  color: #FF6347;
  font-size: 20px;
}

footer p {
  margin: 0px;
  margin-bottom: 5px;
}

p {
  font-size: 20px;
}

footer {
  background-color: #C0C0C0;
  border: 1px #C0C0C0 solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
}

nav{
  display: flex;
  justify-content: space-around;
 
  flex-wrap: wrap;
}

nav a{
  background-color: white;
  padding: 5px;
   margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
